body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 0 232px 0 233px;
    margin: 0;
    }

.container-one {
    height: 535px;
}

.container-one,
.footer {
    background-color: #1F2937
    }

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    align-items: center;
}

h2 { 
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
    margin: 0;
    font-weight: 800;
}

.awesome {
    max-width: 460px;
}

.awesome p {
    margin: 0;
}

.awesome p, 
.links  {
    font-size: 18px;
    color:#E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    padding-left: 208px;
}

.links {
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 0 207px 0 0;
    gap: 25px;
}

.under-header {  
    display: flex;
    justify-content: center;
    margin-top: 123px;
    gap: 42px;  
}

.awesome button {
    font-size: 18px;
    border-radius: 8px;
    border-width: 0px;
    margin-top: 12px;
    padding: 8px 35px;
    font-weight: 600;
    color: white;
    font-family: 'Roboto';
}

.replace-image {
    display: flex;
    justify-content: center;
    margin-top: -4px;
    padding-top: 115px;
    min-width: 521px;
    min-height: 121px;
    background-color: #ffffff57;
    color: white;
    font-size: 18px;
}

button,
h5 {
    background-color: #3882F6;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.all-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image-text {
    width: 168px;
    text-align: center;
}

.blue-border-empty {
    border: solid #3882f6 4px;
    border-radius: 15px;
    padding: 80px 0px;
    margin-bottom: 9px;
}

.text {
    font-size: 18px;
    color: #4f4f4f;
}

.container-two {
    background-color: white;
    height: 500px;
}

.container-three {
    background-color:#E5E7EB;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 791px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-author {
    text-align: end;
    padding-right: 34px;
    font-weight: 700;
    font-size: 24px
}

.container-four {
    background-color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    display: flex;
    gap: 158px;
    align-items: center;
    border-radius: 8px;
    padding: 50px 122px;
    background-color: #3882F6;
}

.blue-container .button {
    color: white;
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 18px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 0px 32px;
    height: 36px;
}

.action-signup h5 {
    margin: 0;
    color: white;
    font-size: 24px;
}

.action-signup p {
    color: #E5E7EB;
    margin: 0;
    font-size: 18px;
}