body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 0 232px 0 233px;
    margin: 0;
    }

.container-one {
    height: 535px;
}

.container-one,
.footer {
    background-color: #1F2937
    }

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    align-items: center;
}

h2 { 
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

.awesome p, 
.links  {
    font-size: 18px;
    color:#E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    padding-left: 208px;
}

button,
h5 {
    background-color: #3882F6;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container-three {
    background-color:#E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}