.container-one,
.footer {
    background-color: #1F2937
    }

h2 { 
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

.awesome p, 
.links  {
    font-size: 18px;
    color:#E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}